{% extends 'base.html' %}
{% load static %}


{% block title %}Login{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/css/style.css" %}">
{% endblock css_files %}

{% block content %}
{% include "blog/includes/navbar.html"%}
<h1 class="text-center my-5 color-p-1">Login</h1>

<div class="container mx-auto">
    <form method="POST" action="/login">
        {% if error %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% endif %}
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div>Not Registered? <a href="{% url "register_page" %}"></a></div>
        <div class="text-center mt-5">
            <button type="submit" class="btn primary-btn">Login</button>
        </div>
      </form>
</div>

{% endblock content %}